@font-face {
    font-family: 'movflix';
    src: url('../../fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'movflix';
    src: url('../../fonts/AvenirNextLTPro-Bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'movflix';
    src: url('../../fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'movflix';
    src: url('../../fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'movflix';
    src: url('../../fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'movflix';
    src: url('../../fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

.credits a {
    color: #f86580;
    text-decoration: none;
}
body {
    background: black;
    color: white;
    margin: 0;
    font-family: movflix;
}

a {
    color: white;
    text-decoration: none;
    
}

.header {
    padding-bottom: 100px;
    padding: 15px 15px 100px;
    position: relative;
    z-index: 2;
    background-image: linear-gradient(to bottom, black 0%, black 50%, rgba(0,0,0, -5) 85%, transparent 100%);
}
.navigation-item {
    list-style: none;
    text-align: center;
}

.navigation {
    padding: 0;
    margin: 0;
    display: grid;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    justify-content: space-around;
}

.featured {
    margin-top: -80px;
    position: relative;
}

.featured-details {
    border: 1px solid red;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: red; */
    background-image: linear-gradient(to top, black 0%, transparent 100%);

}
.tags {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.tag {
    display: flex;
}

.tag:before {
    content: '•';
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.tag:first-child::before {
    display: none;
}

.featured-actions {
    /* height: 100px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2em;
}

.button {
    border: 1px solid blue;
}

.button-secondary {
    border: 1px solid red;
}